<body class="bg-light">
<p></p>
<form [formGroup]="urunForm" (ngSubmit)="onSubmit()">
  <div class="form-group input-group">
   
    <input name="" class="form-control" placeholder="Ürün Adı" type="text" formControlName="urunAdi">
  </div>
  <div class="form-group input-group">
  
    <input name="" class="form-control" placeholder="Ürün Açıklaması" type="email" formControlName="urunAciklamasi">
  </div>
  <div class="form-group input-group">
  
    <input name="" class="form-control" placeholder="Ürün Detay " type="text" formControlName="urunDetay">
  </div>
  <div class="form-group input-group">
    
    <input class="form-control mb-2 mr-sm-2" placeholder="Ürün Fiyat" type="text" formControlName="urunFiyat">
  </div>
  <div class="form-group">
       <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"> Kaydet</button>
  </div>
</form>
<p><b>{{urun|json}}</b></p>
</body>